:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light_Grey:#282E38;
    --Dark_Blue: #181E27;
    --Very_Dark_Blue: hsl(216, 12%, 8%);
    
    }
#SecondSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dark_Blue);
    height: 20rem;
    width: 17rem;
    border-radius: 25px;
    padding: 25px; 
    filter: blur();
  
}
#SecondSection h2{
  margin: 0px;
  font-weight: 700;
  margin-bottom: 1rem;

}
#SecondSection p{
 font-size: 14px;
    margin: 0px;
    font-weight: 400;
    opacity: 50%;
    text-align: center;

  }

#SecondImg
{
    display: flex;
    flex-direction: column;
    background-color: var(--Dark_Blue);
     width: auto;
    margin: 0px;
    padding: 14px;
    
}
#SecondImg img
{
   width: 8rem;
    height: 6rem;
}
#Selection-Message{
    display: flex;
background-color: var(--Light_Grey);
border-radius: 30px;
padding: 10px;
width: 70%;
justify-content: center;
margin-top: 1rem;
margin-bottom: 2rem;
}
#Selection-Message h3{
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    color: var(--Orange);
    }